* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif, serif;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

.wrapper-blue {
    background-color: #1F2937;
}

.header {
    display: flex;
    padding: 8px;
    margin: 10px 50px;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
}

.hero-right {
    justify-content: flex-end;
}

.hero-img {
    height: 250px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 50px;
    background-color: #1F2937; 
    color: #F9FAF8;
}
