* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif, serif;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

/* COLOR WRAPPER STYLING */

.wrapper-blue {
    background-color: #1F2937;
}

.wrapper-white {
    background-color: #ddd;
}

/* HEADER SECTION STYLING */

.header {
    display: flex;
    padding: 8px;
    margin: 10px 50px;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/*HERO SECTION STYLING*/

.hero {
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
}

.hero-right {
    justify-content: flex-end;
}

.hero-img {
    height: 250px;
    width: 500px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

/* INFO SECTION STYLING */

.information {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 50px;
}

.info-block {
    max-width: 200px;
    padding: 10px;
}

.info-img {
    width: 200px;
    height: 200px;
    border: 5px solid rgb(0,100,255);
    border-radius: 15px;
}

.info-text {
    flex-wrap: wrap;
    padding: 10px;
}

/* FOOTER SYTLING */

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 50px;
    background-color: #1F2937; 
    color: #F9FAF8;
}
