* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif, serif;
    display: flex;
    flex-direction: column;
    display: 100vh;
    overflow-y: scroll;
}

.container {
    display: flex;
}

.wrapper-blue {
    background-color: #1F2937;
}

.header {
    display: flex;
    padding: 8px;
    margin: 10px 10em;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 10em;
    background-color: #1F2937; 
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    justify-content: space-between;
}

.hero > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero > p {
    font-size: 18px;
    color: #E5E7EB;
}





